<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//layui.hcwl520.com.cn/layui/css/layui.css?v=201809030202">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-dropdown/2.0.3/jquery.dropdown.css">
    <link rel="stylesheet" href="/css/banana.css">
</head>
<body>
<fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
    <legend style="text-align: center">生成ASCII字符</legend>

    <!-- 文本输入和提交 -->
    <div class="layui-form-item">
        <div class="myTextDiv">
            <textarea id="input" name="text" placeholder="请输入内容(不支持中文)" class="layui-textarea"></textarea>
        </div>
    </div>

    <!-- 字体下拉选择框 -->
    <div class="layui-form-item" id="font-div">
        <label style="margin-left: 50px">字体选择</label>
        <select id="font" name="font" class="dropdown">
            <option value="默认">默认</option>
            <option th:each="font:${fonts}" th:value="${font}" th:text="${font}"
            ></option>
        </select>
    </div>

    <!-- 提交和重置按钮 -->
    <div class="layui-form-item">
        <button id="submitButton" class="layui-btn" style="margin-left: 50px">立即提交</button>
        <button id="reset" class="layui-btn layui-btn-warm">重置</button>
    </div>

    <!-- 结果展示 -->
    <div class="layui-form-item layui-form-text">
        <div class="myTextDiv">
            <textarea id="output" readonly class="layui-textarea"></textarea>
        </div>
    </div>

</fieldset>
<script src="//layui.hcwl520.com.cn/layui/layui.js?v=201809030202"></script>
<script src="http://cdn.bootcss.com/jquery/1.8.1/jquery.js"></script>
<style src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dropdown/2.0.3/jquery.dropdown.js"></style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.11/sweetalert2.all.js"></script>
<script src="/js/banana.js"></script>
</body>
</html>