<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- minify -->
<link href="https://unpkg.com/nes.css@0.0.2/css/nes.min.css" rel="stylesheet"/>
<!-- latest -->
<body>
<h2 class="title">Buttons</h2>
<div>
    <button type="button" class="nes-btn">Normal</button>
    <button type="button" class="nes-btn is-primary">Primary</button>
    <button type="button" class="nes-btn is-success">Success</button>
    <button type="button" class="nes-btn is-warning">Warning</button>
    <button type="button" class="nes-btn is-error">Error</button>
    <button type="button" class="nes-btn is-disabled">Disabled</button>
</div>
</body>
</html>